
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        tr:hover {background-color: #D6EEEE;}
        th, td { padding: 8px; text-align: left; border-bottom: 1px solid #DDD;}
        /*#TopBtn { display: none; position: fixed; bottom: 20px; right: 30px; z-index: 99;
            font-size: 18px; border: none; outline: none; background-color: red; color: white;
            cursor: pointer; padding: 15px; border-radius: 4px;}
       /* #TopBtn:hover { background-color: #555;}*/
    </style>
    </head>
    <body>
        <!--<button onclick="topFunction()" id="TopBtn" title="Go to top">Top</button>-->
        <div id="Top"></div>
        <div class="d-flex" id="wrapper">
            
            <!-- Sidebar-->
            <div id="sidebar-wrapper" class="border-end bg-white" >
                <div class="sidebar-heading border-bottom bg-light w3-blue">Admin Panel</div>                
                <div class="list-group list-group-flush w3-bar" style="z-index:3; width:230px;" >
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#Home">Dashboard</a>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#_currentTrips">Current Trips</a>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#_driverCreate">Create Driver</a>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#_driverList">Driver List</a>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#_createVehile">Create Vehicle</a>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#_vehileList">Vehicle List</a>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#_driver"></a>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#!"></a>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#!"></a>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#!"></a>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#!"></a>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#!"></a>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#!"></a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"></a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"></a>
                </div>
            </div>

            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="index" onclick="logout();">Logout</a></li>
                                <!--<li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>-->
                                </li> 
                            </ul>
                        </div>
                    </div>
                </nav>

                <!-- Page content-->
                <div id="_dashboard" class="container-fluid">
                    <header class="w3-container" style="padding-top:22px">
                        <h5><b><i class="fa fa-dashboard"></i>  Summary</b></h5>
                    </header>

                    <div class="w3-row-padding w3-margin-bottom">
                        <div class="w3-quarter">
                            <div class="w3-container w3-red w3-padding-16">
                                <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
                                <div class="w3-right">
                                    <h3 id="Trips"></h3>
                                </div>
                                <div class="w3-clear"></div>
                                <h4>Trips</h4>
                            </div>
                        </div>
                        <div class="w3-quarter">
                            <div class="w3-container w3-blue w3-padding-16">
                                <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
                                <div class="w3-right">
                                    <h3 id="Drivers"></h3>
                                </div>
                                <div class="w3-clear"></div>
                                <h4>Drivers</h4>
                            </div>
                        </div>
                        <div class="w3-quarter">
                            <div class="w3-container w3-teal w3-padding-16">
                                <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
                                <div class="w3-right">
                                    <h3 id="Vehiles"></h3>
                                </div>
                                <div class="w3-clear"></div>
                                <h4>Vehiles</h4>
                            </div>
                        </div>
                        <div class="w3-quarter">
                            <div class="w3-container w3-orange w3-text-white w3-padding-16">
                                <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                                <div class="w3-right">
                                    <h3 id="Users"></h3>
                                </div>
                                <div class="w3-clear"></div>
                                <h4>Users</h4>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Current Trip -->  
                <div id="_currentTrips"><br></div>                          
                <div class="container-fluid">
                    <div class="w3-container w3-card w3-white">
                        <header class="w3-container" style="padding-top:22px">
                            <h5><b><i class="fa fa-dashboard"></i>  Current Trips </b></h5>
                        </header>                        
                        <table style="width:100%">
                            <tbody id="curenttrip">
                            </tbody>
                        </table>
                        <a class="btn w3-button" style="margin:10px 0px;" href="#Top">Go to Top</a>
                    </div>
                </div>  

                <!-- Create Driver -->
                <div id="_driverCreate"><br></div>   
                <div  class="container-fluid">
                    <div class="w3-container w3-card w3-white">
                        <header class="w3-container" style="padding-top:22px">
                            <h5><b><i class="fa fa-dashboard"></i>  Create Driver </b></h5>
                        </header>
                        <div class="w3-row-padding w3-padding-16">
                            <div class="w3-half">
                                <label>Driver ID</label>
                                <input class="w3-input w3-border" type="text" name="DriverId" required placeholder="">
                            </div>
                            <div class="w3-half">
                                <label>User Detail ID</label>
                                <input class="w3-input w3-border" type="text" name="UserDetailId" required placeholder="">
                            </div>
                        </div>
                        <div class="w3-row-padding w3-padding-16">
                            <div class="w3-half">
                                <label>Vehicle Detail ID</label>
                                <input class="w3-input w3-border" type="text" name="VehicleDetailId" required placeholder="">
                            </div>
                            <div class="w3-half">
                                <label>Branch ID</label>
                                <input class="w3-input w3-border" type="text" name="BranchId" required placeholder="">
                            </div>
                        </div>
                        <div style="padding-bottom:20px;">
                            <button type="submit" class="w3-button w3-block w3-dark-grey">Create Driver</button>
                        </div> 
                        <a class="btn w3-button" style="margin-bottom: 10px;" href="#Top">Go to Top</a>
                    </div>

                </div>

                <!-- Driver List -->
                <div id="_driverList"><br></div> 
                <div class="container-fluid"  > 
                    <div class="w3-container w3-card w3-white">
                        <header class="w3-container" style="padding-top:22px">
                            <h5><b><i class="fa fa-dashboard"></i>  Driver List </b></h5>
                        </header>
                        <table style="width: 100%; margin-bottom: 50px;">
                            <tr class="w3-dark-grey w3-center w3-xlarge">
                                <th >Driver ID</th>
                                <th >User Detail ID</th>
                                <th >Vehicle Detail ID</th>
                                <th >Branch ID</th>
                            </tr>
                            <tbody id="driverList"></tbody>
                        </table>  
                        <a class="btn w3-button" style="margin-bottom: 10px;" href="#Top">Go to Top</a>
                    </div>                  
                </div>    

                <!-- Create Vehicle -->
                <div id="_createVehile"><br></div>
                <div class="container-fluid"  >
                    <div class="w3-container w3-card w3-white">
                        <header class="w3-container" style="padding-top:22px">
                            <h5><b><i class="fa fa-dashboard"></i>  Create Vehicle </b></h5>
                        </header>
                        <div class="w3-row-padding w3-padding-16">
                            <div class="w3-half">
                                <label>Vehicle Detail ID</label>
                                <input class="w3-input w3-border" type="text" name="VehicleDetailId" required placeholder="">
                            </div>
                            <div class="w3-half">
                                <label>Branch Name</label>
                                <input class="w3-input w3-border" type="text" name="BranchName" required placeholder="">
                            </div>
                        </div>
                        <div class="w3-row-padding w3-padding-16">
                            <div class="w3-half">
                                <label>Model Name</label>
                                <input class="w3-input w3-border" type="text" name="ModelName" required placeholder="">
                            </div>
                            <div class="w3-half">
                                <label>Vehicle Category ID</label>
                                <input class="w3-input w3-border" type="text" name="VehicleCategoryId" required placeholder="">
                            </div>
                        </div>
                        <div style="padding-bottom:20px;">
                            <button type="submit" class="w3-button w3-block w3-dark-grey">Create Vehicle</button>
                        </div> 
                        <a class="btn w3-button" style="margin-bottom: 10px;" href="#Top">Go to Top</a>
                    </div>  
                </div>

                <!-- Vehicle List -->
                <div id="_vehileList"><br></div>
                <div  class="container-fluid"  >
                    <div class="w3-container w3-card w3-white">
                        <header class="w3-container" style="padding-top:22px">
                            <h5><b><i class="fa fa-dashboard"></i>  Vehicle List </b></h5>
                        </header>
                        <table style="width: 100%; margin-bottom: 50px;">
                            <tr class="w3-dark-grey w3-center w3-xlarge">
                                <th >Vehicle Detail ID</th>
                                <th >Branch Name</th>
                                <th >Model Name</th>
                                <th >Vehicle Category</th>
                            </tr>
                            <tbody id="vehileList">
                            </tbody>
                        </table>
                        <a class="btn w3-button" style="margin-bottom: 10px;" href="#Top">Go to Top</a>
                    </div>
                </div>

                <!-- Header -->
                <div id="_driver" class="container-fluid"  >
                    
                    <header class="w3-container" style="padding-top:22px">
                        <h5><b><i class="fa fa-dashboard"></i>   </b></h5>
                    </header>
                    <h1> hello driver</h1>
                </div>
            </div>
        </div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="js/scripts.js"></script>
<script>
    $(document).ready(function() {
        var userId = localStorage.getItem("userId");
        var userType = localStorage.getItem("userType");
        if(userId == 0 || userType != 1 ){ window.location.href="index";}
        
        summary();
        triplist();
        vehiclelist();
        driverlist();

    });

    function summary(){
        $.ajax({
        url: 'http://localhost:8080/admin/view/summary',
        type: 'GET',
        headers: { "Content-Type": "application/json" },
        dataType:'json',
         success: function (data) {
             console.log(data);
             var obj = data.data;
             $('#Users').text(obj.users);
             $('#Vehiles').text(obj.vehicles);
             $('#Drivers').text(obj.drivers);
             $('#Trips').text(obj.trips);
             //$('#id').text("New Text");
            }
     });
    }
    
    function triplist(){
        $.ajax({
        url: 'http://localhost:8080/admin/view/viewCurentTrips',
        type: 'GET',
        headers: { "Content-Type": "application/json" },
        dataType:'json',
        success: function (data)
		{
			console.log(data);    //tripRequest  User.
            var obj = data.data;
            $.each(obj, function(k, v)
			{
                var mark = '<tr><td><div class="w3-container">' +
                '<h5 class="w3-opacity"><b> '+v.sourceLocation+' To '+v.destinationLocation+ '</b></h5>' +
                '<label style="width:120px; height:20px; margin:0px 10px; background-color:darkorange"><b> #TripID - ' +v.tripId+'</b></label>'+ 
                '<div style="margin:5px 20px;"><h6 class="w3-text-teal"><b><i class="fa fa-id-card-o"></i>User Contact Details</b></h6>' +
                '<h6 class="w3-text-teal">'+v.user.fName+ ' - ' +v.user.mobilenumber+ '</h6></div>' +
                '<div style="margin:5px 20px;"><h6 class="w3-text-teal"><b><i class="fa fa-id-card-o"></i>Driver Contact Details</b></h6>' +
                '<h6 class="w3-text-teal">'+v.driver.fName+ ' - ' +v.driver.mobilenumber+ '</h6></div>' +
                '<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>'+v.travelDateTime+'</h6>' +
                '<h5 style="margin:10px 20px; color:goldenrod" > Fare - '+v.tripFare+'/-</h4>' +
                '<label class="class="btn btn-default" id="tripsts" style="width:120px; height:25px; margin:10px; padding:3px background-color:indianred"><b>'+v.tripStatus+'</b></label><br>'+                
                '<hr></div></td></tr>';
                $('#curenttrip').append(mark);
            });
        }});
    }

    function vehiclelist(){
        $.ajax({
        url: 'http://localhost:8080/admin/view/vehicleList',
        type: 'GET',
        headers: { "Content-Type": "application/json" },
        dataType:'json',
        success: function (data)
		{
			console.log(data);     
            var obj = data.data;
            $.each(obj, function(k, v)
			{
                var mark = '<tr class="w3-center" style="margin:20px 0px; border-bottom:indianred;">'+
                            '<td>' + v.vehicleDetailId + '</td>'+
                            '<td>' + v.brandName + '</td>'+
		                    '<td>' + v.modelName + '</td>'+
                            '<td>' + v.vehicleCategoryName + '</td>'+
                            '</tr>';
                $('#vehileList').append(mark);
            });
        }});
    }

    function driverlist(){
        $.ajax({
        url: 'http://localhost:8080/admin/view/driverlist',
        type: 'GET',
        headers: { "Content-Type": "application/json" },
        dataType:'json',
        success: function (data)
		{
			console.log(data);     
            var obj = data.data;
            $.each(obj, function(k, v)
			{
                var mark = '<tr class="w3-center" style="margin:20px 0px; border-bottom:indianred;">'+
                            '<td>' + v.driverId + '</td>'+
                            '<td>' + v.userDetail.fName + '</td>'+
		                    '<td>' + v.vehicleDetail.brandName  +' - '+ v.vehicleDetail.modelName +' </td>'+
                            '<td>' + v.branch.branchName + '</td>'+
                            '</tr>';
                $('#driverList').append(mark);
            });
        }});
    }
    
    function logout(){
        localStorage.setItem("userId", 0);
        localStorage.setItem("userType", 0);
    }
    </script>
    </body>
</html>
