<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Driver</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    tr:hover {background-color: #D6EEEE;}
        th, td { padding: 8px; text-align: left; border-bottom: 1px solid #DDD;}
</style>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light w3-blue"> Driver Panel</div>
        <div class="list-group list-group-flush" style="z-index:3; width:230px;">
            <a class="list-group-item list-group-item-action list-group-item-light" href="#Home">Dashboard</a>
            <a class="list-group-item list-group-item-action list-group-item-light" href="#_tripRequest">Trip Request</a>
            <a class="list-group-item list-group-item-action list-group-item-light" href="#_driverHistory">History</a>
            <a class="list-group-item list-group-item-action list-group-item-light" href="#_driverdetails">Change My Details</a>
        </div>
    </div>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle"> Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="index" onclick="logout();">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Curent Trip -->  
        <div id="_tripRequest"><br></div>                          
        <div class="container-fluid">
            <div class="w3-container w3-card w3-white">
                <header class="w3-container" style="padding-top:22px">
                    <h5><b><i class="fa fa-dashboard"></i>  Current Trip </b></h5>
                </header>                        
                <table style="width:100%">
                    <tbody id="curenttrip">
                    </tbody>
                </table>
                <a class="btn w3-button" style="margin:10px 0px;" href="#Top">Go to Top</a>
            </div>
        </div> 

        <!-- Request Trip -->  
        <div id="_tripRequest"><br></div>                          
        <div class="container-fluid">
            <div class="w3-container w3-card w3-white">
                <header class="w3-container" style="padding-top:22px">
                    <h5><b><i class="fa fa-dashboard"></i>  Trip Request </b></h5>
                </header>                        
                <table style="width:100%">
                    <tbody id="tripRequest">
                    </tbody>
                </table>
                <a class="btn w3-button" style="margin:10px 0px;" href="#Top">Go to Top</a>
            </div>
        </div> 

        <!-- History -->
        <div id="_driverHistory"><br></div>   
        <div  class="container-fluid">
            <div class="w3-container w3-card w3-white">
                <header class="w3-container" style="padding-top:22px">
                    <h5><b><i class="fa fa-dashboard"></i> Driver History </b></h5>
                </header>
                <table style="width: 100%; margin-bottom: 50px;">
                    <tr class="w3-dark-grey w3-center w3-xlarge">
                        <th >Source</th>
                        <th >Desination</th>
                        <th >Date Time</th>
                        <th >Fare</th>
                        <th >Status</th>
                        <th >Branch</th>
                    </tr>
                    <tbody class="w3-center" id="dhisList"></tbody>
                </table>
                <a class="btn w3-button" style="margin-bottom: 10px;" href="#Top">Go to Top</a>
            </div>  
        </div>  


        <!-- Driver Details -->
                <div id="_driverdetails"><br></div>   
                <div  class="container-fluid">
                    <div class="w3-container w3-card w3-white">
                        <header class="w3-container" style="padding-top:22px">
                            <h5><b><i class="fa fa-dashboard"></i>  Driver Details </b></h5>
                        </header>
                        <form id="driverdetail">
                            <div class="w3-row-padding w3-padding-16">
                                <div class="w3-half">
                                    <label>Driver ID</label>
                                    <input class="w3-input w3-border" disabled="true" type="text" id="ddriverid" name="riverid" >
                                </div>
                                <div class="w3-half">
                                    <label>Vehile</label>
                                    <select class="w3-input w3-border" aria-label="Default select example" id="dvehileid" name="vehileid">
                                        <option selected id="seletsveh">Select</option>
                                    </select>
                                </div>
                            </div>
                        <div class="w3-row-padding w3-padding-16">
                            <div class="w3-half">
                                <label>First Name</label>
                                <input class="w3-input w3-border" disabled="true" type="text" id="dFirstName" name="FirstName" >
                            </div>
                            <div class="w3-half">
                                <label>Last Name</label>
                                <input class="w3-input w3-border" disabled="true" type="text" id="dlastName" name="lastName" >
                            </div>
                        </div>
                        <div class="w3-row-padding w3-padding-16">
                            <div class="w3-half">
                                <label>Email</label>
                                <input class="w3-input w3-border" disabled="true" type="text" id="dEmailAddress" name="EmailAddress" >
                            </div>
                            <div class="w3-half">
                                <label>Address</label>
                                <input class="w3-input w3-border" disabled="true" type="text" id="dAddress" name="Address" >
                            </div>
                        </div>
                        <div class="w3-row-padding w3-padding-16">
                            <div class="w3-half">
                                <label>Mobile Number</label>
                                <input class="w3-input w3-border" disabled="true" type="text" id="dMobileNumber" name="MobileNumber" >
                            </div>
                            <div class="w3-half">
                                <label>Password</label>
                                <input class="w3-input w3-border" disabled="true" type="text" id="dUserPassword" name="UserPassword" >
                            </div>
                        </div>
                        <div class="w3-row-padding w3-padding-16">
                            <div class="w3-half" style="padding-bottom:20px;">
                                <button type="submit" class="w3-button w3-block w3-dark-grey">Request To Modify</button>
                            </div> 
                        </div>
                    </form>
                        <a class="btn w3-button" style="margin-bottom: 10px;" href="#Top">Go to Top</a>
                        
                        
                    </div>

                </div>
                
        <div class="container-fluid"><br></div>
    </div>
</div>  

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="js/scripts.js"></script>
<script>
$( document ).ready(function() {
        var userId = localStorage.getItem("userId");
        if(userId == 0){ window.location.href="index";}

        rideHistory();
        curentRide();
        rideRequest();
        driverdetails();
    });


    function rideHistory()
    {
        var userId = localStorage.getItem("userId");
        console.log(userId);

        $.ajax({
        url: 'http://localhost:8080/driver/driverhistory',
        type: 'POST',
        headers: {"Content-Type": "application/json"},
         dataType:'json',
         data: JSON.stringify(userId),
        success: function (data)
		{
			console.log(data);     
            var obj = data.data;
            $.each(obj, function(k, v)
			{
                var mark = '<tr class='+"w3-center"+'>'+
                            '<td>' + v.sourceLocationId + '</td>'+
		                    '<td>' + v.destinationLocationId + '</td>'+
                            '<td>' + v.travelDateTime + '</td>'+
                            '<td>' + v.tripFare + '</td>'+
                            '<td>' + v.tripStatus + '</td>'+
                            '<td>' + v.branchId + '</td>'+
                            '</tr>';
                $('#dhisList').append(mark);
            });
        }});
    }

    function curentRide()
    {
        var userId = localStorage.getItem("userId");
        console.log(userId);

        $.ajax({
        url: 'http://localhost:8080/driver/currenttrip',
        type: 'POST',
        headers: {"Content-Type": "application/json"},
         dataType:'json',
         data: JSON.stringify(userId),
        success: function (data)
		{
			console.log(data);    //tripRequest
            var obj = data.data;
            $.each(obj, function(k, v)
			{
                var mark = '<tr><td><div class="w3-container">' +
                '<h5 class="w3-opacity"><b> '+ v.sourceLocationId +' To '+ v.destinationLocationId + '</b></h5>' +
                '<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>'+v.travelDateTime+'</h6>' +
                '<h5 style="margin:10px 20px; color:goldenrod" > Fare - '+v.tripFare+'/-</h4>' +
                '<button class="btn btn-default" id="cancel request" style="width:200px; margin:0px 10px; background-color:indianred" onclick="tripCancel(this);"> Cancel</button>'+
                '<hr></div></td></tr>';
                $('#curenttrip').append(mark);
            });
        }});
    }

    function rideRequest()
    {
        var branchID = localStorage.getItem("branchID");
        console.log(branchID);

        $.ajax({
        url: 'http://localhost:8080/driver/triprequest',
        type: 'POST',
        headers: {"Content-Type": "application/json"},
         dataType:'json',
         data: JSON.stringify(branchID),
        success: function (data)
		{
			console.log(data);    //tripRequest
            var obj = data.data;
            $.each(obj, function(k, v)
			{
                var mark = '<tr><td><div class="w3-container">' +
                '<h5 class="w3-opacity"><b> '+ v.sourceLocationId +' To '+ v.destinationLocationId + '</b></h5>' +
                '<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>'+v.travelDateTime+'</h6>' +
                '<h5 style="margin:10px 20px; color:goldenrod" > Fare - '+v.tripFare+'/-</h4>' +
                '<button class="btn btn-default" id="confirmrequest" style="width:200px; margin:0px 10px; background-color:lightseagreen" onclick="tripConfirm(this);"> Confirm</button>'+
                '<button class="btn btn-default" id="cancel request" style="width:200px; margin:0px 10px; background-color:indianred" onclick="tripCancel(this);"> Cancel</button>'+
                '<hr></div></td></tr>';
                $('#tripRequest').append(mark);
            });           
            /*$('#sourcetodesti').val(obj.sourceLocationId + " - " + obj.destinationLocationId );
            $('#Triptime').val(obj.travelDateTime);
            $('#tripFare').val(obj.tripFare);
            $('#tripstatus').val(obj.tripStatus);*/
        }});
    }

    function driverdetails()
    {
        var userId = localStorage.getItem("userId");
        console.log(userId);

    $.ajax({
         url: 'http://localhost:8080/driver/driverdetails',
         type: 'POST',
         headers: {
          "Content-Type": "application/json"
           },
         dataType:'json',
         data: JSON.stringify(userId),
         success: function (data) {
             console.log(data);
             var obj = data.data;
             $('#ddriverid').val(obj.userid);
             $('#dFirstName').val(obj.fName);
             $('#dlastName').val(obj.lName);
             $('#dEmailAddress').val(obj.email);
             $('#dAddress').val(obj.address);
             $('#dMobileNumber').val(obj.mobilenumber);
             $('#dUserPassword').val(obj.uPassword);
             $('#dvehileid').val(obj.uPassword);
             
             //code for data
         }
     });
    }

    function  tripCancel(trip)
    {
        console.log(trip.data);
        $(trip).data.data;
        var ss = JSON.stringify(trip.data);
        console.log(ss);
        var tid = document.getElementById('');
        console.log(tid);  

        $.ajax({
        url: 'http://localhost:8080/driver/tripcancel',
        type: 'POST',
        headers: {"Content-Type": "application/json"},
         dataType:'json',
         data: JSON.stringify(tid),
        success: function (data)
		{
			console.log(data);  
            alert(data.message);
        }});
    }

    function  tripConfirm(trip)
    {
        console.log(trip);
        $(trip).data.data;
        var ss = JSON.stringify(trip.data);
        console.log(ss);
        var tid = document.getElementById('');
        console.log(tid);  

        $.ajax({
        url: 'http://localhost:8080/driver/tripconfirm',
        type: 'POST',
        headers: {"Content-Type": "application/json"},
         dataType:'json',
         data: JSON.stringify(tid),
        success: function (data)
		{
			console.log(data);  
            alert(data.message);
        }});
    }




function fnDriverHistory(cd) {
  let table="<tr><th>Artist</th><th>Title</th></tr>";
  for (let i = 0; i < cd.length; i++) { 
    table = "<tr><td>" + 
        cd[i].getElementsByTagName("a")[0].childNodes[0].nodeValue +"</td><td>" +
        cd[i].getElementsByTagName("b")[0].childNodes[0].nodeValue +"</td></tr>" +
        cd[i].getElementsByTagName("c")[0].childNodes[0].nodeValue +"</td></tr>" +
        cd[i].getElementsByTagName("d")[0].childNodes[0].nodeValue +"</td></tr>" ;
  }
  document.getElementById("dhisList").innerHTML = table;
}

function logout(){
        localStorage.setItem("userId", 0);
}

</script>
</body> 
</html> 

    